body { 
    margin: 0; /* Remove the default margin */
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); 

}

#image-row { 
    /* Use flexbox to arrange the images in a row */
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 40px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

}

img { 
    /* Prevent images from exceeding the width of their parent */
    max-width: 100%;
    height: auto;
}
/*Make the image have a blur effect*/
#img-A{
    filter:blur(2px);
}
#img-A:hover{
    filter: blur(0px);
}
/*Make the image black and white.*/
#img-B{
    filter:grayscale(100%);
}
#img-B:hover {
    filter:grayscale(0%);

}
#img-C{
    filter: hue-rotate(543534234455345938deg);
}
#img-C:hover{
    filter: hue-rotate(0deg);
}
button{
    box-shadow:1px 2px 4px white;
    position: relative;
}
button:hover{
    bottom:10px;
    
}
/*Hover is when your user hover accross the image. Then the effect will go away.*/
/*Image effects can have more then one effects
filter: grayscale(100%) blur(4px);
*/
#click-me {
    /* Centre the button */
    display: block;
    margin: auto;

    /* Style the button to look nice */
    background-color: black;
    color: white;
    border: none;
    padding: 10px;

    font-size: 2em;
    font-weight: bold;
}
